@import url(theme.css);

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquareNeo-Variable','sans-serif';
}

ul {
  padding: 0px;
}

#home {
  width: 1200px;
  margin: 0px auto;
}

.title {
  display: block;
}
.title > h1 {
  text-align: center;
  margin: 3rem;
  font-size: 2rem;
}
.title > h1 > span {
  font-size : 2em;
  color: var(--main--color);
}

.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1.5px solid rgba(201, 196, 196, .3);
}
.catagory {
  display: flex;
  padding: 0px;
}
.catagory > .sub-category > a {
  padding: 20px;
  margin: 10px 0px;
  font-size : 1.2rem;
  color: black;
}
.catagory > .sub-category > a:visited {
  color: black;
}

.search-bar > input:first-child {
  width: 230px;
  height: 30px;
}
.search-bar > input:last-child {
  height: 30px;
  background-color: var(--main--color);
  border: 1px solid var(--main--border);
  border-radius: 3px;
  padding: 5px;
}
.container {
  margin: 20px 0px;
}

.section-title {
  font-size: 1.5rem;
  margin: 80px 0px 50px;
}
.event-title {
  margin-top: 40px;
}

.hide-text {
  height: 0px;
  text-indent: -9999px;
  font-size: 0px;
  margin: 0px;
}

.event-slide {
  position: relative;
  width: 810px;
  border-radius: 10px;
}
.event-banner {
  overflow: hidden;
}
.event-banner > div {
  display: flex;
  width: 100%;
  transition: all 1s;
}
.event-banner > div > img{
  width: 810px;
  border-radius: 10px;
  margin-right: 10px;
}

.event-slide > button {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(243, 237, 237);
  border: none;
  
}
.event-slide > .prev {
  left: -20px;
}
.event-slide > .next {
  right: -20px;
}


.prod-list {
  display: flex;
  justify-content: space-around;
}
.prod-card {
  display: flex;
  flex-direction: column;
}
.book-poster {
  text-align: center;
}
.book-poster > img {
  width: 250px;
  height: 380px;
  border-radius: 10px;
  box-shadow: 10px 10px 10px gray;
}
.book-info {
  margin-top: 30px;
  margin-left: 10px;
}
.book-info > h3 {
  font-size : 1.2rem;
}
.book-info > .author {
  margin : 8px 0px;
}
.book-info > span {
  font-weight: 500;
  font-size : 0.8rem;
}
.book-info > .scope {
  font-size: 1rem;
}
.book-info > i {
  color: rgba(255, 0, 0, 0.671);
}
.book-info > .review {
  color: grey; 
}


footer {
  margin-top: 80px;
  padding-top: 40px;
  border-top: 1.5px solid rgba(201, 196, 196, .3);
}
.corp {
  display: flex;
  justify-content: space-between;
}
.corp > div > h3 {
  font-size: 1rem;
  color: gray;
}
.corp-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0px 10px;
}
.corp-service {
  flex-grow: 1.5;
}
.corp-info {
  flex-grow: 2.2;
}
.corp-sns {
  flex-grow: 0.8;
}

.corp-list > li,
.corp-copyright {
  margin: 10px 0px;
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  font-weight: 400;
}
.fa-brands, .fa-envelope {
  font-size: 2rem;
  color: rgb(148, 148, 148);
  margin: 15px 20px 0px 0px;
}
