@import url(theme.css);

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-family: 'NanumSquareNeo-Variable','sans-serif';
}

#home {
  width: 1350px;
  margin: 0px auto;
}
.header {
  padding-top: 30px;
  background-color: white;
  position: sticky;
  top: 0px;
  z-index: 100;
}


.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 20px;
}
.catagory {
  display: flex;
  padding: 0px;
  align-items: end;
  width: 70%;
}
.sub-category > a {
  padding: 20px;
  font-size : 1.2rem;
  color: black;
  font-weight: 600;
}
.sub-category > a:visited {
  color: black;
}
.title > h1,
.title > h1 > span {
  display: inline;
  padding: 0px;
  font-size: 1.5rem;
  font-family: 'KCC-Ganpan',sans-serif;
}
.title > h1 > span {
  color: var(--main--color);
}

.search-bar {
  position: relative;
}
.search-bar > form > input {
  width: 230px;
  height: 30px;
  padding-left: 10px;
  border-radius: 20px;
  border: 1px solid gray;
  font-size: 13px;
}
.search-bar > form > button {
  position: absolute;
  background-color: white;
  border: none;
  height: 27px;
  width: 30px;
  right: 12px;
  top: 2px;
}
.search-bar > form >input:last-child {
  height: 30px;
  background-color: var(--main--color);
  border: 1px solid var(--main--border);
  border-radius: 3px;
  padding: 5px;
}

.user {
  width: 10%;
}
.user > a > i {
  color: black;
  font-size: 1.4rem;
  padding-bottom: 5px;
  margin-right: 15px;
}

/* main */
.container {
  margin: 40px auto 80px auto;
  padding: 0px 75px;
}

/* 이벤트*/
.section-title {
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.event {
  position: relative;
  border-radius: 10px;
}
.event-banner {
  overflow: hidden;
}
.event-container {
display: flex;
  width: 100%;
  transition: all 1s;
}
.event > .event-container {
  flex-wrap: wrap;
}
.event-container > img{
  width: 590px;
  border-radius: 5px;
  margin-right: 10px;
}
.event-container > .event-item {
  margin-bottom: 10px;
}
.event > button {
  position: absolute;
  top: 45%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgb(243, 237, 237);
  border: none;
}
.event > button:hover {
  color: rgb(184, 184, 184);
}
.event > .prev {
  left: -20px;
}
.event > .next {
  right: -10px;
}


/* 카테고리 섹션 */
.section-list,
.custom-event {
  margin-top: 5%;
}
.prod-list {
  display: flex;
  justify-content: space-around;
}
.prod-card {
  display: flex;
  flex-direction: column;
  width: 225px;
}

.book-poster > img {
  width: 100%;
  height: 345px;
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgb(172, 171, 171);
  margin-bottom: 15px;
}
.book-info > .author {
  margin : 8px 0px;
}
.book-info > span,
.book-info > .scope {
  font-size : 0.8rem;
}

.book-info > i {
  color: rgba(255, 0, 0, 0.671);
}
.book-info > .review {
  color: grey; 
}

/* 실시간 랭킹 */
.ranking {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  height: 480px;
  padding-left: 5%;
}
.ranking > .prod-card {
  flex-direction: row;
  align-items: center;
}
.ranking > li > .rank {
  font-size: 1.3rem;
}
.ranking > li > .book-poster > img {
  width: 100px;
  height: 150px;
  margin: 0px 20px 0px 30px;
  box-shadow: none;
}
.ranking > li > .book-info > .book-name,
.ranking > li > .book-info > .author{
  font-size : 0.8rem;
  width: 240px;
}


/* 푸터 */
.footer {
  padding-top: 30px;
  padding: 0px 75px;
  /* border-top: 1.5px solid rgba(201, 196, 196, .5); */
}
.corp {
  display: flex;
  justify-content: space-between;
}
.corp > div > h3 {
  font-size: 1rem;
  color: gray;
}
.corp-list {
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}
.corp-service {
  flex-grow: 1.5;
}
.corp-info {
  flex-grow: 2.2;
}
.corp-sns {
  flex-grow: 0.8;
}

.corp-list > li,
.corp-copyright {
  margin: 6px 0px;
  color: rgb(148, 148, 148);
  font-size: 0.8rem;
  font-weight: 400;
}
.fa-brands, .fa-envelope {
  font-size: 2rem;
  color: rgb(148, 148, 148);
  margin: 15px 20px 0px 0px;
}
.hide-text {
  height: 0px;
  text-indent: -9999px;
  font-size: 0px;
  margin: 0px;
}
